body {
  margin: 0px;
  font-size: 16px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

.background-image {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  top: 0;
  background-image: url('/images/background.svg');
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 20px;
  max-width: 700px;
  margin: auto;
}

.title {
  display: block;
  font-size: 32px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  color: #f0141e;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .title {
    margin-bottom: 50px;
    font-size: 64px;
  }
}
